//*====== banner-area css start =====*//
.banner-area {
    height: 100vh;
    position: relative;
    background-size:  cover;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../../assets/images/banner/01.jpg);
    .banner-positon {
        @extend %flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        @include breakpoint (max-sm) {
            height: 80vh;
        } 
        .banner-content {
            text-align: center;
            h3 {
                margin: 0;
                font-weight: 400;
                letter-spacing: 0.3rem;
                color: $white-color;
                padding-bottom: 20px;
                @include breakpoint (max-sm) {
                    font-size: 20px;
                    letter-spacing: .1rem;
                    padding-bottom: 10px;
                }
                @include breakpoint (md) {
                    padding-bottom: 45px;
                }
            }
            p {
                margin: 0;
                font-size: 12px;
                padding-bottom: 10px;
                color: $white-color;
                @include breakpoint (md) {
                    padding-bottom: 22px;
                    font-size: 18px;
                }
            }
        }
    }
    .content-bottom {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background: rgba(0,0,0,0.8);
        .content-inner {
            padding: 45px 0;
            display: block;
            @include breakpoint (mobile) {
                padding: 15px 0;
                text-align: center;
            }
            @include breakpoint (sm) {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-between;
            }
            .content-left {
                ul.link-list {
                    margin: 0;
                    list-style: none;
                    li {
                        &:nth-child(1) {
                            padding-bottom: 25px;
                            @include breakpoint (mobile) {
                                padding-bottom: 12px;
                            }
                        }
                        span {
                            display: block;
                        }
                        a {
                            color: $white-color;
                        }
                    }
                }
            }
            .content-right {
                .right-link {
                    margin-top: 15px;
                    @include breakpoint (sm) {
                        margin-top: 0;
                    }
                    a {
                        @extend %flex;
                        align-items: center;
                        text-align: center;
                        justify-content: center;
                        font-size: 14px;
                        background: #7a6a53;
                        border-radius: 5px;
                        color: $white-color;
                        text-decoration: none;
                        transition: all 0.3s ease-in-out;
                        @include breakpoint (sm) {
                            height: 80px;
                            width: 80px;
                            border-radius: 100%;
                        }
                        &:hover {
                            opacity: 0.6;
                        }
                    }
                }
            }
        }
    } 
}
//*====== banner-area css ends  =====*//

// *===== page header css start =====*//
.page-header {
    position: relative;
    min-height: 200px;
    background-size: cover;
    background-position: center;
    background-image: url(../../assets/images/banner/about_bg.jpg);
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: .6;
        background-color: #000000;
    }
    .banner-position {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 9;
        .banner-title {
            text-align: center;
            h3 {
                margin: 0;
                font-weight: 400;
                letter-spacing: 2px;
                color: $white-color;
            }
        }
    }
}
// *===== page header css start =====*//